body {
    background-color: rgb(3, 61, 42);
    color:bisque;
    font-family: 'Corbel', 'Candara', 'Bahnschrift', sans-serif;
}
h1 {
    color:rgb(169, 218, 202);
    margin-left: auto;  /* permet de centrer !*/
    margin-right: auto; /* permet de centrer !*/
    text-align: center;
    text-shadow: 2px 2px 4px black;
    box-shadow: 5px 5px 1px darksalmon;
    border-radius: 10px;
    border-top: 2px ridge darksalmon;
    border-left: 1px ridge darksalmon;
    padding: 5px;
    padding-block-start: 5px;
    padding-block-end: 5px;
    width: 40%; /*sinon par défaut 100%*/
}

p {
    color:blanchedalmond;
}

label {
    color: blanchedalmond;
    font-weight: bold;

}

legend {
    color: blanchedalmond;
    font-weight: bold
}


a:link, #add {
    text-align : left;
}

a:link, #contact {

    text-align: right;
}

textarea {
    
    padding : 10px 5px;
   
}

:invalid {
    border-color: rgb(192, 96, 32);
}


:required {
    border-color: rgb(192, 96, 32);
}


input[type=submit] {
    background-color: indianred; 
    color:blanchedalmond;
    border: groove;
    border-color: darksalmon;
    border-radius: 10px;
    padding: 16px 32px;
    text-decoration: none;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
    width: 10%;
}

nav { /*le contenu autour des boutons du nav*/
    display: flex;
    justify-content:space-around;
}

button {
    font-family:'Corbel','Candara';
    font-weight: bold; 
    background-color: coral;
    color: blanchedalmond;
    border: groove;
    border-color:bisque;
    border-radius: 10px;
    padding: 10px 20px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    width: 10%;
}

footer {
    color:darkseagreen ;
    display: flex;
    justify-content: space-between;
    padding-right: 15px;
    padding-left: 15px;
    position: fixed;
    left: 5;
    right: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin: -15px;
    
}